[build]
builder = "nixpacks"
nixpacksConfigPath = "nixpacks.toml"

[deploy]
numReplicas = 1
restartPolicyType = "ON_FAILURE"
restartPolicyMaxRetries = 10
startCommand = "npm run dev"

healthcheckPath = "/health"
healthcheckTimeout = 100

[env]
NODE_ENV = "production"
PORT = "3000"
LOG_LEVEL = "info"
